* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container::before, .container::after {
    content: "";
    display: block;
    clear: both;
}

li {
    list-style: none;

}

.container {
    width: 1050px;
    margin: 0 auto;
}

.row-2 {
    width: 50%;
    float: left;
}

.row-3 {
    width: 33.333%;
    float: left;
}

/*NAVBAR*/

header {
    background-color: #101010;
    color: white;
    height: 40px;
}

.nav-ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 600;
}

nav .logo {
    float: left;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.logo-green {
    color: #38c2a9;
}

.nav-ul {
    float: right;
}

.nav-ul li {
    float: left;
    margin: 0 10px;
}

.nav-ul li:nth-of-type(1) {
    position: relative;
}

.nav-ul-mini {
    position: absolute;
    top: -150px;
    left: -45px;
    display: block;
    opacity: 0;
    width: 150px;
    background-color: #101010;
}

.nav-ul-mini li {
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.nav-ul-mini li a {
    text-transform: none;
    font-weight: 400;

}

/*/-here goes real animation later on-/*/
.show {
    animation: sho 1s forwards;

}
@keyframes sho{
    100%{
        top:50px;
        opacity: 1;
    }
}

/*Hero section*/

/*gallery container styles*/

.arrow a {
    font-size: 60px;
    font-weight: 500;
    color: #38c2a9;
    text-decoration: none;

}

.arrow a:hover {
    font-size: 65px;
    text-shadow: 1px 5px 10px white;
    border-radius: 100%;
}

.arow-right .arrow a {
    float: right;
}

.arow-left, .arow-right {
    width: 10%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 541px;

}

.container-gall {
    width: 80%;
    float: left;
}

/*Hero section cd*/
.hero {
    width: 100%;
    /* FF3.6-15 */
    background: -moz-linear-gradient(top, #ffffff 0%, #d0cfd7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #d0cfd7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to bottom, #ffffff 0%, #d0cfd7 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d0cfd7', GradientType=0);
}

.hero h1 {
    text-transform: uppercase;
    font-size: 40px;
}

.chair-img {
    padding-top: 130px;
    padding-bottom: 70px;
    padding-right: 25px;
    transform: scale(1.1);
}

.text {
    padding-top: 130px;
    padding-right: 25px;
    text-align: center;
}

.hero .button {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin: 50px auto;
    background-color: #38c2a9;
    color: white;
    padding: 16px 0px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
}

.hero .button:hover {
    box-shadow: 2px 5px 5px #818181;
}

/*info section*/

.image-info {
    margin-top: 30px;
    margin-bottom: 70px;
}

.clair {
    width: 330px;
    background-size: cover;
    background-image: url("../images/box1_img.jpg");
    height: 225px;
    padding-top: 150px;
}

.empty {
    border: 1px solid #c2c2c2;
    height: 250px;
    padding: 22px;
}

.margarita {
    width: 330px;
    background-size: cover;
    background-image: url("../images/box2_img.jpg");
    padding-top: 150px;
    height: 225px;
}

.white-opacity {
    width: 328px;
    background-color: rgba(225, 225, 225, .7);
    height: 61px;
    margin-left: 2px;
}

.hide-info{
    opacity: 0;
}

.border-green {
    border-bottom: 5px solid #38c2a9;
    width: 140px;
    font-weight: 600;
}

.white-opacity .border-green {
    padding: 19px 0 0 0;
    margin-left: 12px;
}

.info-section {
    line-height: 20px;
}

.info-section article:nth-of-type(2) {
    margin-top: 12px;
    color: #7f7f7f;
}

.info-section article:nth-of-type(3) {
    margin-top: 20px;
    color: #7f7f7f;
}

/*Pricing section style*/
.pricing {
    background-color: #f1f1f1;
    padding-bottom: 40px;
}

.pricing h2.border-green {
    padding-top: 40px;
    margin-bottom: 80px;
    width: 326px;
    font-weight: 400;
}

.plan {
    color: #38c2a9;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 15px;

}

.price-content {
    background-color: white;
    margin: 0 auto;
    color: #c2c2c2;
    border: 1px solid #c2c2c2;
    font-weight: 700;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 5px;
    position: relative;
}

.price-content .big {
    font-size: 30px;

}

.price-content .small {
    font-size: 15px;
    position: absolute;
    top: 30px;
    right: 26px;
}

.box-container ul {
    margin: 30px 3px;
    font-size: 20px;
    height: 150px;
    color: #818181;
}

.box-container li:nth-child(odd) {
    line-height: 40px;
    background-color: #CBCBCB;
}

.box-container li:nth-child(even) {
    line-height: 40px;
    background-color: #f1f1f1;
}

.button-small {
    background-color: #38c2a9;
    color: white;
    text-decoration: none;
    display: block;
    line-height: 33px;
    width: 125px;
    border-radius: 5px;
    margin: 0 auto 10px auto;
}

.button-small:hover {
    box-shadow: 2px 5px 5px #818181;
}

/*box decoration styles*/

.box-decoration {
    display: block;
    border: 1px solid #c2c2c2;
    background-color: #fdfdfd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    top: -50px;
    left: 133px;
}

.box-decoration-center {
    display: block;
    background-color: #c2c2c2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 14px;
    left: 14px;
}

.box-container {
    background-color: #fdfdfd;;
    border: 1px solid #c2c2c2;
    width: 325px;
    padding-top: 10px;
    text-align: center;
    height: 500px;
}

/*/box green/*/

.green-box {
    background-color: #38c2a9;
}

.green-box .plan {
    color: white;
}

.green-box .box-decoration {
    background-color: #38c2a9;
    border: 1px solid #38c2a9;
}

.green-box .box-decoration-center {
    background-color: white;
}

.green-box .button-small {
    background-color: white;
    color: #38c2a9;
}

/*form section styles*/

.row-70 {
    width: 65%;
    float: left;
}

.row-30 {
    width: 35%;
    float: left;
}

.form-area img {
    padding-left: 50px;
}

.form-area h2.border-green {
    padding-top: 40px;
    margin-bottom: 80px;
    width: 326px;
    font-weight: 400;
}

.contact-form {
    font-size: 25px;
}

.contact-form input {
    border: 1px solid #38c2a9;
    width: 640px;
    height: 65px;
    line-height: 65px;
    margin: 10px auto;
    padding: 0 5px;
}

.contact-form textarea {
    border: 1px solid #38c2a9;
    resize: none;
    width: 640px;
    height: 185px;
    line-height: 27px;
    margin: 10px auto;
    padding: 5px 5px;
}

.button-green-big {
    text-transform: uppercase;
    background-color: #38c2a9;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 29px;
    line-height: 70px;
    text-align: center;
    height: 70px;
    width: 340px;
    margin: 35px auto;
    font-weight: 600;
}

.button-green-big:hover {
    box-shadow: 2px 5px 5px #818181;
}

.check-box article {
    font-size: 20px;
    color: #c2c2c2;
    display: block;
    padding-top: 2px;

}

/*custom check box and positioning*/

.container-for-float {
    width: 100%;
    height: 44px;
    padding-left: 15px;
}

.container-for-checkbox {
    width: 15%;
    float: left;
}

.check-box article {
    float: left;
    width: 85%;
    margin-left: 55px;
}

/* Customize the label */
.container-for-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide default checkbox */
.container-for-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create new checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid #38c2a9;
}

/* Add background img on checked */
.container input:checked ~ .checkmark {
    background-image: url("../images/form_ok.jpg");
    background-size: cover;
}

/* Chidde when not checked */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/*/footer - styles*/
footer {
    line-height: 80px;
    color: #7f7f7f;
}

footer article {
    float: left;
}

footer .logo {
    float: right;
    color: #7f7f7f;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

footer .logo span {
    color: #101010;
}

footer .media-list {
    float: left;
    padding-left: 350px;
}

.media-list li {
    float: left;
    margin: 0 5px;
    padding: 10px 0;
}


