* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container::before, .container::after {
    content: "";
    display: block;
    clear: both;
}

li {
    list-style: none;

}

.container {
    width: 1050px;
    margin: 0 auto;
}

.row-2 {
    width: 50%;
    float: left;
}

.row-3 {
    width: 33.333%;
    float: left;
}

/*NAVBAR*/

header {
    background-color: #101010;
    color: white;
    height: 40px;
}

.nav-ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 600;
}

nav .logo {
    float: left;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.logo-green {
    color: #38c2a9;
}

.nav-ul {
    float: right;
}

.nav-ul li {
    float: left;
    margin: 0 10px;
}

.nav-ul li:nth-of-type(1) {
    position: relative;
}

.nav-ul-mini {
    position: absolute;
    top: -150px;
    left: -45px;
    display: block;
    opacity: 0;
    width: 150px;
    background-color: #101010;
}

.nav-ul-mini li {
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.nav-ul-mini li a {
    text-transform: none;
    font-weight: 400;

}

/*/-here goes real animation later on-/*/
.show {
    animation: sho 1s forwards;

}

@keyframes sho {
    100% {
        top: 50px;
        opacity: 1;
    }
}

/*Hero section*/

/*gallery container styles*/

.arrow a {
    font-size: 60px;
    font-weight: 500;
    color: #38c2a9;
    text-decoration: none;

}

.arrow a:hover {
    font-size: 65px;
    text-shadow: 1px 5px 10px white;
    border-radius: 100%;
}

.arow-right .arrow a {
    float: right;
}

.arow-left, .arow-right {
    width: 10%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 541px;

}

.container-gall {
    width: 80%;
    float: left;
}

/*Hero section cd*/
.hero {
    width: 100%;
    /* FF3.6-15 */
    background: -moz-linear-gradient(top, #ffffff 0%, #d0cfd7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #d0cfd7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to bottom, #ffffff 0%, #d0cfd7 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d0cfd7', GradientType=0);
}

.hero h1 {
    text-transform: uppercase;
    font-size: 40px;
}

.chair-img {
    padding-top: 130px;
    padding-bottom: 70px;
    padding-right: 25px;
    transform: scale(1.1);

}

/*gallery styles*/

.img-two {
    position: absolute;
    top: 126px;
    left: -5px;
    transform: scale(0.8);
}

.hidden {
    display: none;
}


.text {
    padding-top: 130px;
    padding-right: 25px;
    text-align: center;
}

.hero .button {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin: 50px auto;
    background-color: #38c2a9;
    color: white;
    padding: 16px 0px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
}

.hero .button:hover {
    box-shadow: 2px 5px 5px #818181;
}

/*info section*/

.image-info {
    margin-top: 30px;
    margin-bottom: 70px;
}

.clair {
    width: 330px;
    background-size: cover;
    background-image: url("../images/box1_img.jpg");
    height: 225px;
    padding-top: 150px;
}

.empty {
    border: 1px solid #c2c2c2;
    height: 250px;
    padding: 22px;
}

.margarita {
    width: 330px;
    background-size: cover;
    background-image: url("../images/box2_img.jpg");
    padding-top: 150px;
    height: 225px;
}

.white-opacity {
    width: 328px;
    background-color: rgba(225, 225, 225, .7);
    height: 61px;
    margin-left: 2px;
}

.hide-info {
    opacity: 0;
}

.border-green {
    border-bottom: 5px solid #38c2a9;
    width: 140px;
    font-weight: 600;
}

.white-opacity .border-green {
    padding: 19px 0 0 0;
    margin-left: 12px;
}

.info-section {
    line-height: 20px;
}

.info-section article:nth-of-type(2) {
    margin-top: 12px;
    color: #7f7f7f;
}

.info-section article:nth-of-type(3) {
    margin-top: 20px;
    color: #7f7f7f;
}

/*Pricing section style*/
.pricing {
    background-color: #f1f1f1;
    padding-bottom: 40px;
}

.pricing h2.border-green {
    padding-top: 40px;
    margin-bottom: 80px;
    width: 326px;
    font-weight: 400;
}

.plan {
    color: #38c2a9;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 15px;

}

.price-content {
    background-color: white;
    margin: 0 auto;
    color: #c2c2c2;
    border: 1px solid #c2c2c2;
    font-weight: 700;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 5px;
    position: relative;
}

.price-content .big {
    font-size: 30px;

}

.price-content .small {
    font-size: 15px;
    position: absolute;
    top: 30px;
    right: 26px;
}

.box-container ul {
    margin: 30px 3px;
    font-size: 20px;
    height: 150px;
    color: #818181;
}

.box-container li:nth-child(odd) {
    line-height: 40px;
    background-color: #CBCBCB;
}

.box-container li:nth-child(even) {
    line-height: 40px;
    background-color: #f1f1f1;
}

.button-small {
    background-color: #38c2a9;
    color: white;
    text-decoration: none;
    display: block;
    line-height: 33px;
    width: 125px;
    border-radius: 5px;
    margin: 0 auto 10px auto;
}

.button-small:hover {
    box-shadow: 2px 5px 5px #818181;
}

/*box decoration styles*/

.box-decoration {
    display: block;
    border: 1px solid #c2c2c2;
    background-color: #fdfdfd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    top: -50px;
    left: 133px;
}

.box-decoration-center {
    display: block;
    background-color: #c2c2c2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 14px;
    left: 14px;
}

.box-container {
    background-color: #fdfdfd;;
    border: 1px solid #c2c2c2;
    width: 325px;
    padding-top: 10px;
    text-align: center;
    height: 500px;
}

/*/box green/*/

.green-box {
    background-color: #38c2a9;
}

.green-box .plan {
    color: white;
}

.green-box .box-decoration {
    background-color: #38c2a9;
    border: 1px solid #38c2a9;
}

.green-box .box-decoration-center {
    background-color: white;
}

.green-box .button-small {
    background-color: white;
    color: #38c2a9;
}

/*form section styles*/

.row-70 {
    width: 65%;
    float: left;
}

.row-30 {
    width: 35%;
    float: left;
}

.form-area img {
    padding-left: 50px;
}

.form-area h2.border-green {
    padding-top: 40px;
    margin-bottom: 80px;
    width: 326px;
    font-weight: 400;
}

.contact-form {
    font-size: 25px;
}

.contact-form input {
    border: 1px solid #38c2a9;
    width: 640px;
    height: 65px;
    line-height: 65px;
    margin: 10px auto;
    padding: 0 5px;
}

.contact-form textarea {
    border: 1px solid #38c2a9;
    resize: none;
    width: 640px;
    height: 185px;
    line-height: 27px;
    margin: 10px auto;
    padding: 5px 5px;
}

.button-green-big {
    text-transform: uppercase;
    background-color: #38c2a9;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 29px;
    line-height: 70px;
    text-align: center;
    height: 70px;
    width: 340px;
    margin: 35px auto;
    font-weight: 600;
}

.button-green-big:hover {
    box-shadow: 2px 5px 5px #818181;
}

.check-box article {
    font-size: 20px;
    color: #c2c2c2;
    display: block;
    padding-top: 2px;

}

/*custom check box and positioning*/

.container-for-float {
    width: 100%;
    height: 44px;
    padding-left: 15px;
}

.container-for-checkbox {
    width: 15%;
    float: left;
}

.check-box article {
    float: left;
    width: 85%;
    margin-left: 55px;
}

/* Customize the label */
.container-for-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide default checkbox */
.container-for-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create new checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid #38c2a9;
}

/* Add background img on checked */
.container input:checked ~ .checkmark {
    background-image: url("../images/form_ok.jpg");
    background-size: cover;
}

/* Chidde when not checked */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/*/footer - styles*/
footer {
    line-height: 80px;
    color: #7f7f7f;
}

footer article {
    float: left;
}

footer .logo {
    float: right;
    color: #7f7f7f;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

footer .logo span {
    color: #101010;
}

footer .media-list {
    float: left;
    padding-left: 350px;
}

.media-list li {
    float: left;
    margin: 0 5px;
    padding: 10px 0;
}


/*new section styles*/


.application {
    background-color: #f9f9f9;
    padding:30px 0;
}
.application h3 {
    color: #575757;
    font-size: 18px;
}

.application div.align_right{
    text-align: right;
}


.inline {
    display:inline-block;
    width:300px;
    padding:14px;
    vertical-align: top;
}


.form {
    margin-top:50px;
}
.drop_down_list {
    border:1px solid #8de0d2;
    width: 280px;
    height:38px;
    background-color: white;
    margin-top:22px;
    padding: 8px 12px;
    position: relative;
}

.list_label {
    font-size: 22px;
    color: #e2e2e2;
    font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
    position: relative;
    padding: 30px 30px 30px 0;
}
.checkbox input {
    display: block;
    opacity: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    cursor: pointer;
}

.checkbox label {
    display: block;
    padding-left: 65px;
    position: relative;
    font-size: 28px;
    color: #cecece;
    line-height: 120%;
    padding-top: 10px;
    cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
    border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0;
}
.checkbox label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
}

.checkbox input:checked + label::after {
    display: block;
}


.active {
    background: url('../images/form_ok.jpg');
    width: 48px;
    height: 40px;

}
.inline_text {
    display: inline-block;
    width: 228px;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 15px;
    color: #aeaeae;
}
.image_part img{
    margin-top: 110px;
    margin-left: 38px;
}


.application .green_bell {
    background-color: #24baa0;
    width: 200px;
    height: 6px;
    display: inline-block;
    margin: 5px 0 5px 0;
}

.summary_panel {
    background-color: white;
    width:100%;
    height:195px;
    padding:10px;
    margin-top: 50px;

}

.application .green_button {
    background-color: #27c7ab;
    color: white;
    text-align:center;
    text-transform: uppercase;
    width: 200px;
    padding: 10px 30px;
    font-size: 24px;
    display: inline-block;
    font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 29px;
    border-radius: 8px;
    text-decoration: none;
}
.panel_left {
    display: inline-block;
    width: 185px;
    vertical-align: top;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
    height: 135px;
}

.panel_right {
    display: inline-block;
    width: 100px;
    border-left:1px solid #e7e7e7;
    text-align: right;
    vertical-align: top;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
    height: 135px;
}

.panel_left h4 , .panel_right h4{
    color: #24baa0;
    font-size: 23px;
}

.panel_left span{
    margin-top:10px;
    font-size: 22px;
    color: #5b5a5a;
    display: block;
}

.panel_right span {
    display: block;
    font-size: 22px;
    color: #24baa0;
    margin-top:10px;
}
.sum_label{
    display: inline-block;
    width: 185px;
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
}

.sum {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 10px;
    font-size: 22px;
    color: #24baa0;
}

.list_arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #24baa0;
    display:block;
    position: absolute;
    right: 14px;
    top: 20px;
    cursor: pointer;
}

.list_panel {
    background-color: white;
    border: 1px solid #ccc;
    width: 288px;
    padding-left: 15px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0;
    left: 0px;
    z-index: 2;
    position: absolute;
    top: 54px;
    display:none;
}

.show_me{
    display: block;
}
.list_panel li {
    margin-top:10px;
    cursor: pointer;
    color: #585858;
}

.title {
    height: 30px;
}